<div class="row custom-row row-eq-height">
	<div class="col-xs-2">
		<img class="img-rounded custom-img"
			src="{{tweet.img}}"
			alt="Twitter Image"
		/>
	</div>
	<div class="col-xs-10">
		<blockquote class="text-left">
			{{tweet.text}}
			<small><strong>{{tweet.name}}</strong></small>
		</blockquote>
	</div>
</div>
